Card {
    padding: 0px !important;
}

.card-middle-title {
    text-align: center !important;;
    margin-top: 0px !important;
}

.card-middle-subtitle {
    text-align: center !important;;
    margin-top: 5px !important;
    margin-bottom: 10px !important;
}